<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>
<app-review></app-review>
<app-selectbus-page></app-selectbus-page>
<app-my-trip></app-my-trip>
<app-profile-page></app-profile-page>
<app-payment-page></app-payment-page>
<app-language-page></app-language-page>
<app-landing-page></app-landing-page>
<app-dialog></app-dialog>
<app-bushiring-page></app-bushiring-page>
<app-header></app-header>
<app-left></app-left>
<app-right></app-right>
<app-bottom-tab></app-bottom-tab>
<app-bus-booking-form></app-bus-booking-form>
<app-bus-box></app-bus-box>
<app-form-drawer></app-form-drawer>
<app-small-seats></app-small-seats>
<app-sorting-bar></app-sorting-bar>
<app-view-seats></app-view-seats>
<app-root></app-root>